// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

#about {
  min-height: 800px;
  overflow: auto;
}

.app-card {
  height: 540px;
  overflow: auto;
  padding-top: 0 !important;
}

.app-textarea {
  width: 100%;
}

.field-icon {
  float: right;
  right: 1%;
  margin-top: -32px;
  position: relative;
}

.app-search {
  width: 100%;
  position: relative;
}

.app-search input {
  width: 80%;
  position: relative;
  float: left;
  margin-right: 0 !important;
}

.app-search button {
  width: 20%;
  cursor: pointer;
  padding: 6px 0 6px 0;
  position: relative;
  background: #a79960;
  float: left;
}

#app-sort {
  height: 100%;
}

#app-card-body {
  padding-top: 0;
}

.app-fixed {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background: white;
  z-index: 3;
  top: 0;
}